.table {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.table td,
.table th {
    border: 1px solid #e8e8e8;
    border-left: none;
}

.table tr th:last-child {
    border-right: none;
}

.table tr td:last-child {
    border-right: none;
}